<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/administation.css}">
    <script th:src="@{/js/hide.js}" defer ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="body">
<div id="tableContainer">
<div class="header">
    <img  th:src="@{/img/logo.png}" class="logo"> <p class="title">Administration module</p>
</div>


<div class="scream" >
    <div class="display">
        <div class="button">

            <label for="databaseTables"> <p> Seleccione una tabla:</p></label>
            <select id="databaseTables">
                <option>Tables</option>
                <option  value="User">User</option>
                <option  value="Assistance">Assistance</option>
                <option  value="Authorization">Authorization</option>
                <option  value="Benefit">Benefit</option>
                <option  value="Program">Program</option>
                <option  value="File">File</option>
                <option  value="User-File">User-File</option>
                <option  value="Excuse">Excuse</option>
                <option  value="Message">Message</option>
                <option  value="Archive">Archive</option>
            </select>


        </div>
    </div>
    <div class="container">


        <table class="table table-dark" th:if="${users != null}">

            <p>list beneficiaries</p>
            <a th:href="@{/newBenefits}"><button class="bnt">Add User</button></a>
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Document</th>
                <th>Type document</th>
                <th>rol</th>
                <th>Name</th>
                <th></th>
                <th>Lastname</th>
                <th></th>
                <th>Age</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>State</th>
                <th>ID benefit</th>
                <th>Keyword</th>
                <th id="button"><a th:href="@{/newUser}"><img th:src="@{/img/add.webp}" class="icon" ></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${users != null}">
                <td th:text="${user.id_user}"></td>
                <td th:text="${user.document}"></td>
                <td th:text="${user.type_document}"></td>
                <td th:text="${user.rol}"></td>
                <td th:text="${user.name_1}"></td>
                <td th:text="${user.name_2}"></td>
                <td th:text="${user.last_name_1}"></td>
                <td th:text="${user.last_name_2}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.Email}"></td>
                <td th:text="${user.telephone}"></td>
                <td th:text="${user.state}"></td>
                <td th:text="${user.id_benefit}"></td>
                <td th:text="${user.keyword}"></td>
                <td class="button">
                <a th:href="@{/inicio/listUser/editUser/{idUserSena}(idUserSena=${user.id_user})}"><img th:src="@{/img/edit.png}" class="icon" ></a>
                <a th:href="@{/inicio/listUser/delete/{idUserSena}(idUserSena=${user.id_user})}" class="delete"><img th:src="@{/img/delate.webp}" class="icon" ></a>
                </td>
            </tr>
            </tbody>

        </table>


        <table class="table table-dark" th:if="${assistance != null}">
            <p>list Assistance</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID Authorization</th>
                <th>ID user</th>
                <th>time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assist : ${assistance}" >
                <td th:text="${assist.id_assistance}"></td>
                <td th:text="${assist.id_authorization}"></td>
                <td th:text="${assist.id_user}"></td>
                <td th:text="${assist.times}"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${benefits != null}">
            <p>list Benefit</p>
            <thead class="thead-dark">
            <tr>
                <th>ID benefit</th>
                <th>Benefit</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th id="button"><a th:href="@{/benefit/newBenefits}"><img th:src="@{/img/add.webp}" class="icon" ></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="benefit : ${benefits}" >
                <td th:text="${benefit.id_benefit}"></td>
                <td th:text="${benefit.nom_benefit}"></td>
                <td th:text="${benefit.description_benefit}"></td>
                <td th:text="${benefit.date_start}"></td>
                <td th:text="${benefit.date_end}"></td>
                <td id="button">
                    <a th:href="@{/benefit/editBenefit/{idBenefit}(idBenefit=${benefit.id_benefit})}"><img th:src="@{/img/edit.png}" class="icon" ></a>
                    <a th:href="@{/benefit/delete/{idBenefit}(idBenefit=${benefit.id_benefit})}" class="delete"><img th:src="@{/img/delate.webp}" class="icon" ></a>
                </td>
            </tr>

            </tbody>

        </table>


        <table class="table table-dark" th:if="${file != null}">
            <p>list Files</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>ID program</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Files : ${file}">
                <td th:text="${Files.id_file}"></td>
                <td th:text="${Files.n_file}"></td>
                <td th:text="${Files.id_program}">
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${program != null}">
            <p>list Programs</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Programs : ${program}" >
                <td th:text="${Programs.id_program}"></td>
                <td th:text="${Programs.name_program}"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark"  th:if="${User_File != null}">
            <p>list User x file</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID File</th>
                <th>ID User</th>
                <th>Asset</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="UserFile : ${User_File}">
                <td th:text="${UserFile.id_user_file}"></td>
                <td th:text="${UserFile.id_file}"></td>
                <td th:text="${UserFile.id_user}"></td>
                <td th:text="${UserFile.asset}"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${excuse != null}">
            <p>list Excuses</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID User</th>
                <th>ID Assistance</th>
                <th>Description</th>
                <th id="button"><a th:href="@{/excuse/newExcuse}"><img th:src="@{/img/add.webp}" class="icon" ></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Excuse : ${excuse}">
                <td th:text="${Excuse.id_excuse}"></td>
                <td th:text="${Excuse.id_user}"></td>
                <td th:text="${Excuse.id_assistance}"></td>
                <td th:text="${Excuse.description_excuse}"></td>
                <td id="button">
                    <a th:href="@{/excuse/editExcuse/{idExcuse}(idExcuse=${Excuse.id_excuse})}"><img th:src="@{/img/edit.png}" class="icon" ></a>
                    <a th:href="@{/excuse/delete/{idExcuse}(idExcuse=${Excuse.id_excuse})}" class="delete"><img th:src="@{/img/delate.webp}" class="icon" ></a>
                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${authorization != null}">
            <p>list authorization</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID User</th>
                <th>ID User x Authorization</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Authorization : ${authorization}">
                <td th:text="${Authorization.id_authorization}"></td>
                <td th:text="${Authorization.id_user}"></td>
                <td th:text="${Authorization.id_user_autho}"></td>
                <td th:text="${Authorization.description_excuse}"></td>
                <td th:text="${Authorization.date_apli}"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${message != null}">
            <p>list message</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID User</th>
                <th>Description</th>
                <th>Date send</th>
                <<th id="button"><a th:href="@{/message/newMessage}"><img th:src="@{/img/add.webp}" class="icon" ></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Message : ${message}">
                <td th:text="${Message.id_message}"></td>
                <td th:text="${Message.id_user}"></td>
                <td th:text="${Message.description_message}"></td>
                <td th:text="${Message.date_send}"></td>
                <td id="button">
                    <a th:href="@{/message/editMessage/{idMessage}(idMessage=${Message.id_message})}"><img th:src="@{/img/edit.png}" class="icon" ></a>
                    <a th:href="@{/message/delete/{idMessage}(idMessage=${Message.id_message})}" class="delete"><img th:src="@{/img/delate.webp}" class="icon" ></a>
                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-dark" th:if="${Archive != null}">
            <p>list archive</p>
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ID User</th>
                <th>Description</th>
                <th>Date send</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Archive : ${Archive}">
                <td th:text="${Archive.id_archive}"></td>
                <td th:text="${Archive.id_excuse}"></td>
                <td th:text="${Archive.id_message}"></td>
                <td th:text="${Archive.archive}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
</html>