<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File </title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div class="container">
    <h1 class="logo">Create/Edit File</h1>
    <form class="fileForm" th:object="${file_sena}" th:action="${action}" method="post">

        <div class="formGroup">
            <label>ID: </label>
            <input type="number" id="id_file" name="id_file" th:field="*{id_file}" required>
        </div>

        <div class="formGroup">
            <label for="n_file">Number file:</label>
            <input type="number" id="n_file" name="n_file" th:value="${file_sena.n_file}" required>
        </div>

        <div class="formGroup">
            <label for="id_program">ID program :</label>
            <input type="number" id="id_program" name="id_program" th:value="${file_sena.id_program}" required>
        </div>

        <div class="formGroup">
            <button type="submit" class="btnSubmit">Save File</button>
        </div>

    </form>
</div>
</body>
</html>