<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div class="container">
    <h1 class="logo">Create/Edit User</h1>
    <form class="userForm" th:object="${userSena}" th:action="${action}" method="post">
        <div class="formGroup">
            <label>ID:</label>
            <input type="number" id="id_user" name="id_user" th:field="*{id_user}" required>
        </div>

        <div class="formGroup">
            <label for="document">Document:</label>
            <input type="number" id="document" name="document" th:value="${userSena.document}" required>
        </div>

        <div class="formGroup">
            <label for="type_document">Type document:</label>

            <input class="form-check-input" type="radio" name="type_document" id="C.C" th:value= "1" th:checked="${userSena.type_document == 1}"/>C.C
            <input class="form-check-input" type="radio" name="type_document" id="T.I" th:value= "2" th:checked="${userSena.type_document == 2}"/>T.I

        </div>

        <div class="formGroup">
        <label for="rol">Rol :</label>
            <input class="form-check-input" type="radio" name="rol" id="Beneficiary" th:value= "1" th:checked="${userSena.rol == 1}"/>Beneficiary
            <input class="form-check-input" type="radio" name="rol" id="Admin" th:value= "2"       th:checked="${userSena.rol == 2}"/>Admin
            <input class="form-check-input" type="radio" name="rol" id="Manager" th:value= "3"     th:checked="${userSena.rol == 3}"/>Manager
            <!--<input type="number" id="rol" name="rol" th:value="${userSena.rol}" required>-->
        </div>

        <div class="formGroup">
        <label for="name_1">Name 1:</label>
        <input type="text" id="name_1" name="name_1" th:value="${userSena.name_1}" required>
        </div>

        <div class="formGroup">
        <label for="name_2">Name 2:</label>
        <input type="text" id="name_2" name="name_2" th:value="${userSena.name_2}" required>
        </div>

        <div class="formGroup">
            <label for="last_name_1">Last name:</label>
            <input type="text" id="last_name_1" name="last_name_1" th:value="${userSena.last_name_1}" required>
        </div>
        <div class="formGroup">
            <label for="last_name_2">Last name:</label>
            <input type="text" id="last_name_2" name="last_name_2" th:value="${userSena.last_name_2}" required>
        </div>

        <div class="formGroup">
            <label for="age">Age:</label>
            <input type="number" id="Age" name="Age" th:value="${userSena.age}" required>
        </div>

        <div class="formGroup">
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" th:value="${userSena.Email}" required>
        </div>

        <div class="formGroup">
            <label for="telephone">Telephone: </label>
            <input type="number" id="telephone" name="telephone" th:value="${userSena.telephone}" required>
        </div>
        <div class="formGroup">
            <label for="state">State: </label>
            <input class="form-check-input" type="radio" name="state" id="Active" th:value= "1" th:checked="${userSena.state == 1}"/>Active
            <input class="form-check-input" type="radio" name="state" id="Disabled" th:value= "2" th:checked="${userSena.state == 2}"/>Disabled

            <!--<input type="number" id="state" name="state" th:value="${userSena.state}" required>-->
        </div>

        <div class="formGroup">
            <label for="id_benefit">Benefit:</label>
            <input type="number" id="id_benefit" name="id_benefit" th:value="${userSena.id_benefit}" required>
        </div>

        <div class="formGroup">
            <label for="keyword">Keyword:</label>
            <input type="password" id="keyword" name="keyword" th:value="${userSena.keyword}" required>
        </div>

        <div class="formGroup">
            <button type="submit" class="btnSubmit">Save User</button>
        </div>
    </form>
</div>
</body>
</html>
