
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/StylePData.css}">
    <script th:src="@{/js/home.js}" defer></script>
    <title>data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>



<div class="head">
    <div class="img">
        <img th:src="@{/Img/logo.png}" class="logo">
    </div>
    <div class="se">
        <h1>Servicio Nacional de Aprendizaje</h1>
    </div>
</div>

<div class="navegate">
    <div class="nav1">
        <a th:href="@{/apprentice/home.html}" class="nav1Icon"><img th:src="@{/Img/home.png}" class="icon" />Home</a>
        <a th:href="@{/apprentice/data.html}" class="nav1Icon"><img th:src="@{/Img/data.png}" class="icon" />Data</a>
        <a th:href="@{/apprentice/history.html}" class="nav1Icon"><img th:src="@{/Img/history.webp}"  class="icon" />History</a>
    </div>
    <div class="nav2">
        <a th:href="@{/templates/index.html}" class="logOut"><img th:src="@{/Img/logout.png}" class="icon" />Log Out</a>
    </div>
</div>


<div class="screen">

    <div class="profile">
        <img th:src="@{/Img/data.png}"  class="proImg">

        <h3>Luis martinez</h3>

        <h3>Code: 2570120</h3>

        <h3>Status: hold up</h3>


    </div>

    <div class="cont">
        <table class="table">
            <caption>DATA</caption>
            <thead>

            <tr>
                <td data-label="NAME">Luis</td>
                <td data-label="LAST NAME">Martinez</td>
                <td data-label="N° DE ID">123456789</td>
                <td data-label="PHONE" id="phoneCell">322 468 7766</td>
            </tr>
            <tr>
                <td data-label="E-MAIL" id="emailCell">LuisMart13@gmail.com</td>
                <td data-label="BIRTHDATE">10/05/2003</td>
                <td data-label="ADDRESS" id="addressCell">CLL 12 # 47a Pescadero</td>
                <td class="file-select">
                    <p id="nombreArchivo"></p>
                </td>
            </tr>
        </table>

        <div class="button">
            <div class="archive">
                <input type="file" id="archivo" placeholder="Select archive" onchange="mostrarNombre()">
            </div>
            <br>
            <label for="newEmail">New Email:</label>
            <input type="text" id="newEmail">
            <label for="newPhone">New Phone:</label>
            <input type="text" id="newPhone">
            <label for="newAddress">New Address:</label>
            <input type="text" id="newAddress">
            <button type="button" onclick="updateData()" class="update">Update Data</button>

        </div>

    </div>

</div>



</body>

</html>