<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/StylePHistory.css}">
    <script th:src="@{/js/home.js}" defer></script>
    <title>history</title>

</head>

<body >
<div class="body">
<div class="head">
    <div class="img">
        <img th:src="@{/Img/logo.png}" class="logo">
    </div>
    <div class="se">
        <h1>Servicio Nacional de Aprendizaje</h1>
    </div>
</div>

<div class="navegate">
    <div class="nav1">
        <a th:href="@{/moduleUser/home/{document}(document=${user.document})}" class="nav1Icon"><img th:src="@{/Img/home.png}" class="icon" />Home</a>
        <a th:href="@{/moduleUser/userData/{document}(document=${user.document})}" class="nav1Icon"><img th:src="@{/Img/data.png}" class="icon" />Data</a>
        <a th:href="@{/moduleUser/userHistory/{document}(document=${user.document})}" class="nav1Icon"><img th:src="@{/Img/history.webp}"  class="icon" />History</a>
    </div>
    <div class="nav2">
        <a th:href="@{/login}" class="logOut"><img th:src="@{/Img/logout.png}" class="icon" />Log Out</a>
    </div>
</div>

<div class="screen">

    <div class="profile">
        <img th:src="@{/Img/data.png}" class="proImg">
        <table>
            <tr>
                <td colspan="2"> <p class="p1" th:text="${user.nameUser}"></td>
            </tr>
            <tr>
                <th><p>Document:</p></th>
                <td th:text="${user.document}"></td>
            </tr>
            <tr>
                <th><p>Code file:</p></th>
                <td th:each="userFile : ${userFile}" th:if="${userFile.id_user == user.id_user}">

                    <span th:each="file : ${file}" th:if="${file.id_file == userFile.id_file}" th:text="${file.n_file}"></span>

                </td>
            </tr>
            <tr>
                <th><p>State:</p></th>
                <td>
                    <span th:if="${user.state == 1}">Active</span>
                    <span th:if="${user.state == 2}">Disabled</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="cont">
        <div>
            <form th:action="@{/moduleUser/userHistory/{document}(document=${user.document})}" method="get">
            <label for="typeMessage">Select Category:</label>
            <select name="typeMessage" id="typeMessage">
                <option value="1" th:selected="${typeMessage == 1}">Excuse </option>
                <option value="2" th:selected="${typeMessage == 2}">Report </option>
            </select>
            <button type="submit">Filter</button>
            </form>

        </div>

        <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
                <th>Description</th>
                <th>Archive</th>
                <th>Date send</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Message : ${message}">
                <td th:text="${Message.description_message}"></td>
                <td th:text="${Message.id_archive}"></td>
                <td th:text="${Message.date_send}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</body>

</html>