<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Archive</title>
    <script th:src="@{/js/hide.js}" defer ></script>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div class="container">
    <h1 class="logo">Create/Edit archive</h1>
    <form class="fileForm" th:object="${archive}"  enctype="multipart/form-data" th:action="${action}" method="post">

        <div class="formGroup">
        <label for="archive_pdf">Archive :</label>
        <input type="file" id="archive_pdf" name="file" accept=".pdf" th:value="${archive.archive_pdf}" required>
        </div>

        <div class="formGroup">
            <button type="submit" class="btnSubmit" >Save Archive</button>
        </div>

    </form>


    <br>
    <button class="btnSubmit"><a th:href="@{/archive/listArchive}"> return page</a></button>
</div>
</body>
</html>