<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div class="container">
    <h1 class="logo">Create/Edit User</h1>
    <form class="userForm" th:object="${userSena}" th:action="${action}" method="post">
        <div class="formGroup">
            <label>ID:</label>
            <input type="number" id="id_user" name="id_user" th:field="*{id_user}" required>
        </div>

        <div class="formGroup">
            <label for="document">Document:</label>
            <input type="number" id="document" name="document" th:value="${userSena.document}" required>
        </div>

        <div class="formGroup">
            <label>Type document:</label>
            <input class="form-check-input" type="radio"  name="type_document" id="C.C" th:value= "1" th:checked="${userSena.type_document == 1}"/>C.C
            <input class="form-check-input" type="radio"  name="type_document" id="T.I" th:value= "2" th:checked="${userSena.type_document == 2}"/>T.I

        </div>

        <div class="formGroup">
            <label for="nameUser">Name 1:</label>
            <input type="text" id="nameUser" name="nameUser" th:value="${userSena.nameUser}" required>
        </div>


        <div class="formGroup">
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" name="lastName" th:value="${userSena.lastName}" required>
        </div>


        <div class="formGroup">
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" th:value="${userSena.email}" required>
        </div>

        <div class="formGroup">
            <label for="telephone">Telephone: </label>
            <input type="number" id="telephone" name="telephone" th:value="${userSena.telephone}" required>
        </div>

        <div class="formGroup">
            <label>State: </label>
            <input class="form-check-input" type="radio" name="state" id="Active" th:value= "1" th:checked="${userSena.state == 1}"/>Active
            <input class="form-check-input" type="radio" name="state" id="Disabled" th:value= "2" th:checked="${userSena.state == 2}"/>Disabled
        </div>

        <div class="formGroup">
            <label for="keyword">Keyword:</label>
            <input type="password" id="keyword" name="keyword" th:value="${userSena.keyword}" required>
        </div>

        <div class="formGroup">
            <label>rol: </label>
            <input class="form-check-input" type="radio"  name="roles" id="User" th:value="1" th:checked="${userSena.roles == 1}"/>User
            <input class="form-check-input" type="radio"  name="roles" id="Admin" th:value="2" th:checked="${userSena.roles == 2}"/>Admin
            <input class="form-check-input" type="radio"  name="roles" id="Manager" th:value="3" th:checked="${userSena.roles == 3}"/>Manager
        </div>

        <div class="formGroup">
            <button type="submit" class="btnSubmit">Save User</button>
        </div>
    </form>

    <br>
    <button class="btnSubmit"><a th:href="@{'/userSena/listUser'}"> return page</a></button>
</div>
</body>
</html>
