
body{
    background-color: rgba(36, 35, 35, 0.966);
    width: 100%;
    height: 150vh;
    place-items: center;
}
.container{
    margin: auto;
    padding: 10px;
    background-color:  rgba(4, 110, 27, 0.568);
    width: 500px;
    text-align: left;
    color:white;

}
