<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login in</title>
    <link rel="stylesheet" th:href="@{/css/StyleP.css}">
    <script th:src="@{/js/home.js}" defer></script>

</head>
<img th:src="@{/Img/backgroudLoggin.jpeg}" class="imaF">


<body>
<section>
    <div class="signin">
        <div class="content">
            <div>
                <div class="head">
                    <div>
                        <center><img th:src="@{/Img/logo.png}" class="logo" width="15%"></center>
                    </div>
                    <div class="text">
                        <h1>Servicio Nacional de Aprendizaje</h1>
                    </div>
                </div>

                <br>

                <h2>Sign In</h2>

                <form th:action="@{/login/loginPro}" method="post" class="form">
                    <!--<div class="select">
                        <select name="lenguajes" id="lang">
                            <option class="text_value" name="type" value="User"><i>Administrator</i>
                            </option>
                            <option class="text_value" name="type" value="User"><i>Manager</i></option>
                            <option class="text_value" name="type" value="User"><i>Apprentice</i></option>
                        </select>
                    </div>-->

                    <div class="inputBox">
                        <label for="document"></label>
                        <input type="number" id="document" required> <i>Document</i>
                    </div>
                    <div class="inputBox">
                        <label for="keyword"></label>
                        <input type="password" id="keyword" required> <i>Password</i>
                    </div>
                    <div class="links">
                        <a href="http://oferta.senasofiaplus.edu.co/sofia-oferta/recuperarclave.html">Forgot
                            Password</a>
                    </div>

                    <div class="btn-login">
                       <!--<input class="boton" type="button" value="Login" onclick="loggin()">-->
                        <button class="boton" type="submit" >Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>